@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: "Poppins", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --background: #fff;
    --primary-color: #f8f9fa;
    --secondary-color:#dee2e6;
    --text-color : #495057;
    --main-color : #212529;

    --transition-02 : all 0.2s ease;
    --transition-03 : all 0.3s ease;
    --transition-04 : all 0.4s ease;
    --transition-05 : all 0.5s linear;
}

body{
    display: flex;
    min-height: 100vh;
    width: 100vh;
    width: 100%;
    position: relative;
}

body.dark{
    --background: #212529;
    --primary-color: #495057;
    --secondary-color:#dee2e6;
    --text-color : #495057;
    --main-color : #fff;
}

body.dark .sidebar.text,
body.dark .icon{
    color: #fff;
}

body.dark .home{
    background-color: #343a40;
}

body.dark .nav-links .nav-link:hover
{
    background-color: #fff;
    color: var(--background);
}

body.dark .search-btn{
    color: var(--text-color);
}

body.dark .nav-link .text{
    color: #fff;
}

body.dark .width-text,
body.dark .height-text,
body.dark h3,
body.dark h5,
body.dark .decrement,
body.dark .increment,
body.dark .load-btn{
    color: #fff;
}

body.dark .logo,
body.dark .close-btn{
    color: #212529;
}

body.dark .load-box:hover .load-btn,
body.dark a:hover .text{
    color: #212529;
}

body.dark .increment-box:hover .increment,
body.dark .decrement-box:hover .decrement{
    color: #212529;
}

body.dark .check{
    transform: translateX(16px);
}

.sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    row-gap: 10px;
    width: 250px;
    height: 100vh;
    padding: 10px;
    background-color: var(--background);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: var(--transition-04);
    z-index: 100;
}

.sidebar.close{
    width: 70px;
}

.sidebar.close .header-text{
    opacity: 0;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar.close .bottom-content{
    display: none;
}

.sidebar.close .close-btn{
    transform: rotate(180deg);
}

.sidebar header{
    display: flex;
    position: relative;
    column-gap: 10px;
    width: 100%;
    height: 50px;
}

header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    height: 48px;
    background-color: var(--main-color);
    border: 1px solid black;
    color: #fff;
    font-size: 32px;
    border-radius: 5px;
}

.header-text{
    color: var(--text-color);
    font-weight: 600;
}

header .close-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -26px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--main-color);
    cursor: pointer;
}

.close-box .close-btn{
    font-size: 25px;
    transition: 0.5s;
    color: #fff;

}


.sidebar .menu-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 25px 0 10px 0;
}

.menu-bar .menu{
    width: 100%;
    height: 300px;
}

.menu .search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    column-gap: 18px;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background-color: var(--secondary-color);
}

.sidebar .icon{
    font-size: 22px;
    font-weight: 500;
    color: var(--text-color);
}

.sidebar .text{
    color: var(--text-color);
    transition: var(--transition-04);
}

.search-box input{
    height: 100%;
    background: none;
    border: none;
    outline: none;
}

.search-btn{
    cursor: pointer;
}

.menu .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 15px;
}

.nav-links .nav-link{
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 10px;
    width: 100%;
    height: 45px;
    border-radius: 3px;
    cursor: pointer;
    transition: var(--transition-05);
}

.nav-link:hover{
    background-color: #f61060;
}

.nav-link:hover .icon,
.nav-link:hover .text{
    color: var(--background);
}

.nav-link a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 14px;
}

.nav-link a i{
    margin-right: 18px;
}


.menu-bar .bottom-content{
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 10px;
    width: 100%;
    height: 200px;
    transition: var(--transition-04)
}

.bottom-content.active{
    display: none;
}

.bottom-content .range-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 8px;
    padding: 0 0 0 12px;
}

.range-box .width-box,
.range-box .height-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.range-box input{
    cursor: pointer;
    accent-color: var(--text-color);
    width: 200px;
}

.bottom-content .count-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 12px;
}


.count-box .decrement-box,
.count-box .screen-box,
.count-box .increment-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 100%;
    height: 32px;
    background-color: var(--text-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: var(--transition-05);
}

.count-box .screen-box{
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-weight: 500;
}

.screen-box .screen{
    font-size: 19px;
    font-weight: 500;    
}

.count-box .decrement-box{
    border: 1px solid transparent;
    border-left-color: var(--main-color);
    border-right-width: 2px;
}

.count-box .increment-box{
    border: 1px solid transparent;
    border-left-color: var(--main-color);
    border-left-width: 2px;
}

.count-box .decrement-box:hover,
.count-box .increment-box:hover,
.load-box .load-btn:hover{
    background-color: var(--main-color);
}

.bottom-content .load-box{
    width: 100%;
    padding: 0 0 0 12px;
    margin-bottom: 100px;
}

.load-box .load-btn{
    width: 100%;
    height: 32px;
    font-size: 18px;
    background-color: var(--text-color);
    color: var(--primary-color);
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: var(--transition-05);
}



.sidebar .options-box{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    column-gap: 6px;
    width: calc(100% - 20px);
    height: 50px;
    padding: 0 0 0 12px;
    background-color: var(--secondary-color);
    border-radius: 3px;
}

.options-box .mode{
    margin-right: 20px;
    position: relative;
}

.options-box .text{
    font-size: 18px;
    font-weight: 500;
}

.options-box .setting{
    font-size: 24px;
    cursor: pointer;
    transition: var(--transition-05);
}

.options-box .setting:hover{
    transform: rotate(90deg);
    color: red;
}

.options-box .check-box{
    display: flex;
    align-items: center;
    position: absolute;
    right: 6px;
    width: 36px;
    height: 18px;
    border: 1px solid black;
    padding: 0 3px;
    border-radius: 9px;
    background-color: var(--primary-color);
}

.check{
    width: 13px;
    height: 13px;
    background-color: var(--main-color);
    border: 1px solid black;
    border-radius: 50%;
    transition: var(--transition-04);
    cursor: pointer;
}



.mode .sun,
.mode .moon{
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
}

.mode .sun{
    opacity: 0;
}

body.dark .mode .sun{
    opacity: 1;
}

body.dark .mode .moon{
    opacity: 0;
}


.home{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    gap: 10px;
    flex-wrap: wrap;
    padding: 70px 30px 30px 30px;
    background-color: #b5e2fa;
    transition: var(--transition-04)
}

.sidebar.close ~ .home{
    left: 70px;
    width: calc(100% - 70px);
}

.home .image-box{
    border: 1px solid black;
    background-color: red;
    position: relative;

}

.image-box .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s linear;
}

.home .big-image-box{
    display: flex;
    justify-content: center;
    width: 100%; 
    height: 280px; 
    padding:30px 32px;
    margin-bottom: 30px;
    border: 1px solid black;
    background-color: #7f7f7f;
}

.big-image-box .big-box{
    height: 100%;
    width: 33%;
    border: 6px solid #fff;
}

.big-box .big-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-05);
}

.image-box .info{
    z-index: 100;
    position: absolute;
    top: 0;
    width: 100%;
    height: 22%;
    transition: var(--transition-02);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    visibility: hidden;
}

.image-box:hover .info{
    visibility: visible;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.18);
    box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.37);
}


.info i{
    background-color: #fff;
    font-size: 26px;
    font-weight: 500;
    color: #f61060;
    padding:8px ;
    cursor: pointer;
    border-radius: 20%;
}

body.zoom-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    object-fit: cover;
}


.zoom-image{
    position: fixed;
    left: 100px;
    width: 200px;
    width: 100%;
    max-height: 200px;
    height: 100%;
}